dj-database-url==0.5.0
Django==1.11.20
django-bower==5.2.0
django-heroku==0.2.1
django-nvd3==0.9.7
docutils==0.14
gunicorn==19.9.0
holidays==0.9.9
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.16.1
pandas==0.24.1
Platypus-Opt==1.0.3
psycopg2==2.7.7
python-dateutil==2.8.0
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2018.9
six==1.12.0
statistics==1.0.3.5
Unidecode==1.0.23
whitenoise==4.1.2
